- if object.errors.any?
  .ui.error.message{ style: "display:block;" }
    .header This form contains #{ pluralize(object.errors.count, "error") }.
    %ul.list
      - object.errors.full_messages.each do |msg|
        %li= msg
