%h1.title Menu

.ui.five.cards
	-@items.each do |item|
		.card
			.content
				.header= item.name.capitalize
				.meta $ #{item.price}
				.description= item.description
			.extra.content
				%span.left.floated= item.category.capitalize
				%span.right.floated Add