%h1 New Item

=form_for @item, html: { class: ["ui", "form", "column"], id: "newItemForm" } do |f|
	=render "shared/error_msgs", object: f.object

	.field
		=f.label :name
		=f.text_field :name

	.field
		=f.label :description
		=f.text_field :description

	.field
		=f.label :category
		=f.text_field :category

	.field
		=f.label :price
		=f.text_field :price

	.field
		=f.label :special_date
		=f.select(:special_date, Item.special_dates.to_a, { include_blank: true }, { class: "ui dropdown" })

	=f.submit "Create Item", class: "ui button teal basic"

